body{
    background-color: rgb(106, 233, 255);
    color:rgb(23, 79, 79);

}
.heading{
    width: 700px;
    font-size: 20px;
    background-color: rgb(171, 43, 43);
}
#camera{
    border: 2px solid rgb(54, 49, 78);
    width: 350px;
    height: 300px;

}
